spring:
  datasource:
    url: jdbc:h2:tcp://localhost/~/coin
    username: jsp2023
    password:
    driver-class-name: org.h2.Driver
  jpa:
    database: H2
    show-sql: true
    hibernate:
      ddl-auto: update