<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Trading Web</title>
    <link rel="stylesheet" href="css/main.css">
    <script src="https://cdn.jsdelivr.net/npm/echarts@5.2.2/dist/echarts.min.js"></script>
    <script type="text/javascript">
        window.onload = function() {
            priceAjax();
            viewMyWallet()

            document.getElementById("coinSelect").addEventListener('change', function (){
                priceAjax();
                viewMyWallet();
                updateCoinCode();
            });

            function viewMyWallet() {
                var httpRequest = new XMLHttpRequest();
                var coinCD = getCoinCode();

                httpRequest.onreadystatechange = replaceContents;
                httpRequest.open('GET', 'view-my-wallet?coinCode=' + coinCD);
                httpRequest.send();

                function replaceContents() {
                    if (httpRequest.readyState === XMLHttpRequest.DONE) {
                        if (httpRequest.status === 200) {
                            var parser = new DOMParser(); // DOMParser 생성
                            var doc = parser.parseFromString(httpRequest.response, 'text/html'); // 반환된 HTML을 파싱
                            var newWallet = doc.getElementById("myWallet"); // 파싱된 HTML에서 지갑 정보를 가져옴
                            var currentWallet = document.getElementById("myWallet"); // 현재 페이지에서 지갑 정보를 가져옴
                            currentWallet.innerHTML = newWallet.innerHTML; // 현재 페이지의 지갑 정보를 갱신
                        } else {
                            alert('Request Issue!');
                        }
                    }
                }
            }

            function priceAjax() { // 가격 정보를 받아오기 위한 Ajax
                var httpRequest = new XMLHttpRequest();
                var coinCD = getCoinCode();

                httpRequest.onreadystatechange = replaceContents;
                httpRequest.open('GET', 'coin/prices?coinCode=' + coinCD);
                httpRequest.send();

                function replaceContents() {
                    if (httpRequest.readyState === XMLHttpRequest.DONE) {
                        if (httpRequest.status === 200) {
                            document.getElementById("priceTable").innerHTML = httpRequest.response;
                            drawChart ();
                        } else {
                            alert('Request Issue!');
                        }
                    }
                }
            }

            function updateCoinCode() {
                var coinCD = getCoinCode();
                document.getElementById("buyCoinCode").value = coinCD;  // 매수 form의 코인 코드 갱신
                document.getElementById("sellCoinCode").value = coinCD;  // 매도 form의 코인 코드 갱신
            }

            function getCoinCode() { // 현재 Select된 코인 코드 가져옴
                var e = document.getElementById("coinSelect");
                var cd = e.options[e.selectedIndex].value;
                return cd;
            }
        }

        function drawChart () { // 차트를 그리기 위한 함수
            var myChart = echarts.init(document.getElementById('chart'));

            var priceDataList = document.getElementsByClassName('priceData');
            var priceVolumeList = document.getElementsByClassName('priceVolume');
            var priceDateList = document.getElementsByClassName('priceDate');

            var pList = new Array();
            var vList = new Array();
            var dList = new Array();
            for(var i=0; i < priceDataList.length; i++){
                pList[i] = priceDataList[priceDataList.length-1-i].textContent;
                vList[i] = priceVolumeList[priceDataList.length-1-i].textContent;
                dList[i] = priceDateList[priceDataList.length-1-i].textContent;
            }

            option = {
                tooltip: {
                    trigger: 'axis',
                    axisPointer: {
                        type: 'cross',
                        crossStyle: {
                            color: '#999'
                        }
                    }
                },
                toolbox: {
                    feature: {
                        magicType: { show: true, type: ['line', 'bar'] },
                        saveAsImage: { show: true }
                    }
                },
                legend: {
                    data: ['거래량', '가격']
                },
                xAxis: [
                    {
                        type: 'category',
                        data: dList,
                        axisPointer: {
                            type: 'shadow'
                        }
                    }
                ],
                yAxis: [
                    {
                        type: 'value',
                        name: '거래량',
                        min: 'dataMin',
                        max: 'dataMax',
                        scale: true
                    },
                    {
                        type: 'value',
                        name: '가격',
                        min: 'dataMin',
                        max: 'dataMax'
                    }
                ],
                series: [
                    {
                        name: '거래량',
                        type: 'bar',
                        data: vList
                    },
                    {
                        name: '가격',
                        type: 'line',
                        yAxisIndex: 1,
                        data: pList
                    }
                ]
            };
            myChart.setOption(option);
        }
    </script>
</head>
<body>
<h3 id="coinSelectDiv">
    코인 선택 : <select id="coinSelect">
    <option th:each="coin : ${coinList}" th:value="${coin.coin_code}"
            th:text="${coin.coin_name}"></option>
</select>
</h3>
<form action="/buy-sell" method="post">
    <input type="hidden" id="buyCoinCode" name="coin_code">
    매수: <input type="text" name="buy_units"><input type="submit" value="구매">
</form>
<form action="/buy-sell" method="post">
    <input type="hidden" id="sellCoinCode" name="coin_code">
    매도: <input type="text" name="sell_units"><input type="submit" value="판매">
</form>
<table id="priceTable" th:fragment="priceTable">
    <tr>
        <th>가격</th>
        <th>거래량</th>
        <th>시간</th>
    </tr>
    <tr th:each="price : ${priceList}">
        <td class="priceData" th:text="${price.price}" />
        <td class="priceVolume" th:text="${#numbers.formatDecimal(price.volume,0,3)}" />
        <td class="priceDate" th:text="${#temporals.format(price.date, 'MM.dd HH:mm')}" />
    </tr>
</table>
<table id="myWallet" th:fragment="myWallet">
    <tr>
        <th>주문가능(KRW)</th>
        <th>보유수량(COIN)</th>
    </tr>
    <tr th:each="wallet : ${myWallet}">
        <td th:text="${wallet.available_krw}" />
        <td th:text="${wallet.available_coin}" />
    </tr>
</table>
<div id="chart">
</div>
</body>
</html>